@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	font-size: 1.8rem;
	min-height: 100vh;
	font-family: 'Rubik', sans-serif;
}

img,
picture {
	max-width: 100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	main {
		flex: 1;
		margin-top: 10rem;
	}
}
.padding {
	padding-top: 9rem;
	padding-bottom: 9rem;
}

.container {
	width: 100%;
	max-width: $max-width;
	margin: auto;
	padding-left: $grid-gap;
	padding-right: $grid-gap;
	&--inner {
		width: 100%;
		max-width: $max-width-section;
		margin: auto;
		padding-left: $grid-gap;
		padding-right: $grid-gap;
	}
}

.btn {
	display: inline-block;
	padding: 1.2rem 2.3rem;
	border-radius: 0.5rem;
	transition: 0.3s ease;
	box-shadow: 0 0.3rem 0.6rem 0rem rgba(73, 93, 22, 0.2);
	font-size: 1.4rem;
	outline: none;
	cursor: pointer;
	&--red {
		background-color: $softRed;
		border: 0.2rem solid $softRed;
		color: $white;
		&:hover {
			background-color: $white;
			color: $softRed;
			border: 0.2rem solid $softRed;
		}
	}
	&--blue {
		background-color: $softBlue;
		border: 0.2rem solid $softBlue;
		color: $white;
		&:hover {
			background-color: $white;
			color: $softBlue;
			border: 0.2rem solid $softBlue;
		}
	}
	&--grey {
		background-color: $lightGrey;
		border: 0.2rem solid $lightGrey;
		color: $grayishBlue;
		&:hover {
			background-color: $white;
			color: $black;
			border: 0.2rem solid $black;
		}
	}
}

.text-center {
	text-align: center;
}
